.pageTitle {                  
    font-size: 6vw;       
}

.title {                  
    font-size: 4vw;       
}

.subTitle {        
    font-size: 2vw;
}

.description {
    font-size: 1.5vw;
    line-height: 2vw;    
}

.divider {
    height: 3px !important;
    opacity: 1;
}

.background {
    background-image: url("/images/index/background.png");
    background-position: top;
    animation: mymove 500s infinite;
}

@keyframes mymove {
    50% {background-position: bottom;}
}

.stickyWrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
}
  
.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 1128px) { 
    
    .pageTitle {                  
        font-size: 80px
    }

    .title {                  
        font-size: 60px;    
    }
    
    .subTitle {        
        font-size: 40px;
    }
    
    .description {    
        font-size: 20px;
        line-height: 20px;   
    }
    
}

@media (max-width: 768px) {

    .pageTitle {                  
        font-size: 60px
    }

    .title {                  
        font-size: 50px;    
    }
    
    .subTitle {        
        font-size: 30px;
    }

    .img {
        width: 50vw;
    }
}