@font-face {
    font-family: "QanelasRegular";
    src: url("/fonts/Qanelas/Qanelas-Regular.ttf") format("truetype");
    font-weight: normal;
    font-family: 400;
    font-display: swap;
}

@font-face {
    font-family: "QanelasBold";
    src: url("/fonts/Qanelas/Qanelas-Bold.ttf") format("truetype");
    font-weight: bold;
    font-family: 800;
    font-display: swap;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -10px) scale(0.75) !important;
    background-color: white;
    padding: 0px 5px;
}

body {
    height: 100vh;        
}

.sub-header {
    padding-top: 80px;
}

a {
    text-decoration: none;
}

.navbar-brand:hover {
    cursor: pointer;
}

.btn-lg {
    /* font-size: 1em; */
    padding: 20px 40px;
    font-weight: bold;
}

.btn-radius{
    border-radius: 50px;
}

.btn-fixed-bottom{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.cursor-pointer:hover {
    cursor: pointer;
    text-decoration: underline;
}

.color-whatsapp {
    background-color: #25d366;
    color: white !important;
}

.form-control {    
    border: 1px solid #704f7d;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(112 79 125 / 80%);
}

.MuiFormControl-root {
    /* width: 100%; */
    margin-bottom: 20px !important;
}

.MuiButton-containedPrimary {
    background-color: #886099 !important;
}

.MuiButton-containedPrimary:hover {
    background-color: #692B84 !important;
}

.MuiButton-containedSecondary {
    background-color: #1E8555 !important;
}

.MuiButton-containedSecondary:hover {
    background-color: #1a7148 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #692B84 !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #692B84 !important;
} 

@media (max-width: 768px) {

    .hidden-sm-down {
        visibility: hidden;
        height: 0;
    }
}
