
.rowContainer {
    height: calc(100vh - 160px);
}

.card {
    border-radius: 20px !important;
}

.card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 25%);
}

.btn {
    min-width: 320px;
}

.img {
    height: 20vh;
}