.pageTitle {                  
    font-size: 6vw;       
}

.title {                  
    font-size: 3.5vw;       
}

.subTitle {        
    font-size: 2vw;
}

.description {
    font-size: 1.5em;
    line-height: 2rem;    
}

.divider {
    height: 3px !important;
    opacity: 1;
}

.background {
    background-image: url("/images/index/background.png");
    background-position: top;
    animation: mymove 500s infinite;
}

.img {
    max-height: 250px;
    border-radius: 20px;
    border: 2px solid #886099;
}

@keyframes mymove {
    50% {background-position: bottom;}
}

.stickyWrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
}
  
.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


@media (max-width: 768px) {

    .pageTitle {                  
        font-size: 60px
    }

    .title {                  
        font-size: 40px;    
    }
    
    .subTitle {        
        font-size: 30px;
    }

    .description {    
        font-size: 20px;
        line-height: 25px;   
    }
   
}